<div class='well'>
  <%= form_for [post, comment] do |f| %>
    <%= f.label :body, "回覆：" %>
    <%= f.text_area :body, rows: 5 %><br />

    <%= f.submit(comment.new_record? ? 'Create Comment.' : 'Edit Comment.', class: 'btn btn-primary') %>
  <% end %>
</div>